html{
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Merriweather, Montserrat, Sacramento
}


h3 {
	font-size: 3rem;
	text-align: center;
}

p {
	color: rgba(0, 0, 0, .75);
	font-weight: 300;
	line-height: 1.5;
}

/***********MEDIA**************/

@media(min-width: 568px) {


	/****************Navigation menu*************/

	.nav-container a {
		padding: 1.5rem 1.5rem;
		font-size: 1.2rem;
	}


	.first-page {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: calc(70vh - 1rem);
	}

	.name {
		font-size: 5rem;

	}


	.text-slogan {
		width: 28rem;

	}



	.bot-image img {
		margin: 2rem;
		width: 30rem;
	}




	.about {
		display: flex;
		justify-content: center;
	}

	.third {
		display: flex;
		justify-content: center;

	}

	.cards {
		display: flex;
		justify-content: center;
	}

	/***features*****/

	.features-page {
		width: 40rem;
		margin: 3rem auto;

	}

	.features-page h3 {
		padding-top: 2rem;
	}


}

/****************Navigation menu*************/
.nav-container {
	display: flex;
	background: #444444;
	padding: 1.5rem;
	justify-content: center;
	align-items: center;
}

.nav-container a {
	padding: 0.5rem;
	color: #ebce95;
	text-decoration: none;

}





/**************All pages ****************/

.first-page {
	background: #55c0ec;
}

.first-page div {
	padding: 1.2rem;
	text-align: center;

}

.bot-image img {
	width: 20rem;
	margin-bottom: 3rem;
}

.name {
	color: rgba(0, 0, 0, .6);
	font-size: 4rem;
	letter-spacing: 0.14rem;
}



.text-slogan {
	display: flex;
	width: 20rem;
	color: #fff;
	font-size: 1.675rem;
	line-height: 1.25;
	margin-bottom: 3rem;

}


/******************* Button *************/
.slk-btn {
	border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 35px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline;
	transition: all 0.3s ease 0s;
	text-decoration: none;

}


.slk-btn:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.3s ease 0s;
}

.slk-icon {
	display: inline;
	width: 1.8rem;

}

/**************ABOUT SECTION**************/


.about-page {
	margin: 2rem;
}

.about-text {
	flex-direction: column;
	margin: 2rem;
	align-items: center
}

.first {
	flex-basis: 20rem;
}

.second {
	flex-basis: 20rem;

}

.third {
	margin: 2rem;
	align-items: center
}

.third p {
	flex-basis: 45rem;
	justify-content: center;
	padding-bottom: 2rem;
}

/*************HOW WORKS SECTION************/


.how-works {
	background-color: #5dc0a6;
	padding: 1rem 0;
}


.card-info img {
	margin: 3rem;
	width: 224px;


}

.card-info {
	text-align: center;
	flex-basis: 10rem;
	background-color: #40596b;
	align-self: stretch;
	border-radius: 10px;
	margin: 0 1rem 5rem 1rem;
	padding: 0;
	text-align: center;
}

.card-text {
	background-color: aliceblue;
	padding: 2rem;

}

/********************FEATURE SECTION****************/

.features-page {
	margin: 2rem auto;

}


.feature-info p {
	padding: 3rem;
}


/********************FOOTER SECTION****************/
footer {
	background: #40596b;
}

.container {
	padding: 2rem;
}

.container p {
	color: aliceblue;
	font-size: 13px;
	width: 19rem;
	margin: auto;
	padding: 3px;
	text-align: center;
}